body {
  font-family: 'Lato', sans-serif;
  color:#383B3D;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}

.header {
  padding: 20px;
  text-align: left;
  background: #34495E;
  color: white;
}

.row {
  display: flex;
}

.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

table.space {
	margin-top: 40px;
	padding-top: 10px;
	width: 600px;
}


body {
	background-color: white;
}
a {
	color: #333;
		text-decoration:#none;
}
a:visited {
	color: #333;
			text-decoration:#none;
}
a:hover {
	color: #333;
	text-decoration:#underline;
}
a:active {
	color: #333;
	text-decoration:#none;
}
table {
	background-color: #FFFFFF;
	border: 0px;
}
td {
	border: 0px;
}
.title {
background-color:#E2C522;
	text-align: left;
	padding:0 0 0 5px;
	font-size: 50px;
	color: #fff;
	vertical-align: middle;
	height:100px;
	font-family:Verdana;
	padding-top:80px
}
.dateoutline {
	border: 1px solid #CCCCCC;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	background-color: #F0F0F0;
}
.dateoutlineHover {
	border: 1px solid #999999;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	cursor: pointer;
}
.dateday {
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
}
.nav {
	border-bottom: 1px solid #E6E4CA;
}
.navHover {
	cursor: pointer;
background-color:#C4BCA8;
}
.navLastHover {
	cursor: pointer;
	border-left: 3px solid #A9A38D;
	font-weight: bold;
}
.navHead {
	color: #ffffff;
	background-color: #676CA7;
}
.infoBox {
	text-align: left;
	vertical-align: middle;
	color: #FFFFFF;
}
.creds {
	color: #FFFFFF;
	font-size: 14px;
	text-align: right;
	background-color:#6E695E;
}
.size12 {
	font-size: 14px;
}

.content {
	border-top: 1px dashed #E6E4CA;
	border-bottom: 1px dashed #E6E4CA;
	font-family:Verdana;
	margin-left: 1em;
	font-size: 14px;
	line-height: 2em;
	font-align: left;
}
.content2 {
	border-top: 1px dashed #E6E4CA;
	border-bottom: 1px dashed #E6E4CA;
	margin-left: 0em;
	font-family:Verdana;
	font-size: 14px;
	line-height: 2em;
	font-align: left;
}
.subtitle2 {
	border-top: 1px dashed #E6E4CA;
	border-bottom: 1px dashed #E6E4CA;
	margin-left: 0em;
	font-family:Verdana;
	font-size: 18px;
	line-height: 2em;
	font-align: left;
}
.subtitle{
	border-top: 1px dashed #E6E4CA;
	border-bottom: 1px dashed #E6E4CA;
	margin-left: 1em;
	font-size: 18px;
	font-family:Verdana;
	line-height: 2em;
	font-align: left;
}
.divider {
	border-left: 1px solid #E6E4CA;
}
